<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('Nuevo lenguaje')"></head>
<body>

<div class="container mt-5">
    <h1 class="mb-4" th:text="${lenguaje.id == null} ? 'Nuevo Lenguaje'"></h1>

    <form th:action="@{/admin/lenguaje/save}" th:object="${lenguaje}" method="post" class="card card-body shadow">

        <input type="hidden" th:field="*{id}"/>

        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" th:field="*{name}" class="form-control" required/>
        </div>

        <div class="mb-3">
            <label class="form-label">Icono</label>
            <input type="text" th:field="*{iconoUrl}" class="form-control" required placeholder="Url de la imagen"/>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/admin/lenguaje}" class="btn btn-secondary ms-2">Cancelar</a>

    </form>
</div>

</body>
</html>
